name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      # Opcional: build y push a ECR si usas imágenes personalizadas
      # Puedes quitar esto si no usas ECR y solo haces el build en E
      # - name: Build and Push to ECR
      #   ...

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user # por ejemplo ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/supermercado-back
            git pull origin master       # Trae los últimos cambios del repo
            docker-compose down          # Detiene y elimina contenedores previos
            docker-compose up -d --build # Levanta con build en segundo plano
